@model ClassifiedAdsApp.Models.AdsViewContact
<h3>Contact information</h3>
<div class="form-group">
    @Html.DisplayNameFor(model => model.ContactName): @Html.DisplayFor(model => model.ContactName)
</div>
<div class="form-group">
    @Html.DisplayNameFor(model => model.ContactPhoneNumber): @Html.DisplayFor(model => model.ContactPhoneNumber)
</div>
<div class="form-group">
    @Html.DisplayNameFor(model => model.ContactEmail): @Html.DisplayFor(model => model.ContactEmail)
</div>
<div class="form-group">
    @Html.DisplayNameFor(model => model.ContactPhysicalAddress): @Html.DisplayFor(model => model.ContactPhysicalAddress)
</div>
<div class="form-group">
    @Html.DisplayNameFor(model => model.WebSite): @Html.DisplayFor(model => model.WebSite)
</div>
