@model IEnumerable<ClassifiedAdsApp.Models.AdsViewAdverts>

@{ ViewBag.Title = "My adverts";}

<div class="container">
    <h2>@ViewBag.Title</h2>    

    <div class="row">
        <div class="col-md-12">
            <h3>@ViewBag.Message</h3>
            
            @if (Model != null)
            {
                <div>@Html.ActionLink("Post a new ad", "Create")</div>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DatePublished)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Price)
                        </th>
                        <th>Ads management</th>
                    </tr>

                    @foreach (var item in Model)
                {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DatePublished)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            </td>
                        </tr>
                    }
                </table>
                <div>@Html.ActionLink("Post a new ad", "Create")</div>
            }
            else
            {
                <p> You have no active ads at the moment.Click here to @Html.ActionLink("post an ad.", "Create") </p>
            }
        </div>
    </div>
</div>